nodered/flows-schedule-enhanced.json
[
    {
        "id": "e10b4adcc78d883c",
        "type": "tab",
        "label": "Immersion Control - Enhanced",
        "disabled": false,
        "info": "Enhanced immersion schedule with backend API reporting for override coordination"
    },
    {
        "id": "schedule_main_timer",
        "type": "thingzi-schedule",
        "z": "e10b4adcc78d883c",
        "name": "Main Immersion Schedule",
        "events": "[{\"start\":{\"dow\":3,\"mod\":900},\"end\":{\"dow\":3,\"mod\":1020}},{\"start\":{\"dow\":0,\"mod\":900},\"end\":{\"dow\":0,\"mod\":1020}},{\"start\":{\"dow\":2,\"mod\":1140},\"end\":{\"dow\":2,\"mod\":1200}},{\"start\":{\"dow\":5,\"mod\":1140},\"end\":{\"dow\":5,\"mod\":1200}}]",
        "sendType": "msg",
        "sendId": "payload",
        "onPayloadType": "str",
        "onPayload": "ON",
        "offPayloadType": "str",
        "offPayload": "OFF",
        "startupMessage": true,
        "sendOnEnable": true,
        "x": 200,
        "y": 200,
        "wires": [["prepare_main_schedule"]]
    },
    {
        "id": "prepare_main_schedule",
        "type": "function",
        "z": "e10b4adcc78d883c",
        "name": "Prepare Main Schedule Report",
        "func": "const isActive = (msg.payload === 'ON');\nconst timeStr = new Date().toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' });\nconst dayOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][new Date().getDay()];\n\n// Report to backend API\nmsg.payload = {\n    immersion_name: 'main',\n    is_active: isActive,\n    schedule_reason: isActive ? \n        `Time schedule: ${dayOfWeek} active period` : \n        `Time schedule: ${dayOfWeek} period ended`,\n    timestamp: new Date().toISOString()\n};\n\n// Store state for immersion control\nflow.set('main_schedule_active', isActive);\nflow.set('main_schedule_reason', msg.payload.schedule_reason);\n\nnode.status({\n    fill: isActive ? 'green' : 'grey',\n    shape: 'dot',\n    text: isActive ? `ACTIVE - ${timeStr}` : `INACTIVE - ${timeStr}`\n});\n\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 200,
        "wires": [["report_main_schedule"]]
    },
    {
        "id": "report_main_schedule",
        "type": "http request",
        "z": "e10b4adcc78d883c",
        "name": "Report to Backend",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/schedule/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],
        "x": 720,
        "y": 200,
        "wires": [["log_main_response", "control_main_immersion"]]
    },
    {
        "id": "log_main_response",
        "type": "function",
        "z": "e10b4adcc78d883c",
        "name": "Log Response",
        "func": "if (msg.payload.status === 'success') {\n    node.log(`✓ Main schedule reported: ${msg.payload.message}`);\n} else {\n    node.warn(`✗ Main schedule report failed: ${JSON.stringify(msg.payload)}`);\n}\nreturn null;",
        "outputs": 0,
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "control_main_immersion",
        "type": "switch",
        "z": "e10b4adcc78d883c",
        "name": "Route Main Immersion",
        "property": "schedule_active",
        "propertyType": "flow",
        "rules": [
            {"t": "true"},
            {"t": "false"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 240,
        "wires": [
            ["turn_on_main"],
            ["turn_off_main"]
        ]
    },
    {
        "id": "turn_on_main",
        "type": "api-call-service",
        "z": "e10b4adcc78d883c",
        "name": "Main ON",
        "server": "2f5e82bb.678dde",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 1200,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "turn_off_main",
        "type": "api-call-service",
        "z": "e10b4adcc78d883c",
        "name": "Main OFF",
        "server": "2f5e82bb.678dde",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1200,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "schedule_lucy_timer",
        "type": "thingzi-schedule",
        "z": "e10b4adcc78d883c",
        "name": "Lucy Immersion Schedule",
        "events": "[{\"start\":{\"dow\":3,\"mod\":900},\"end\":{\"dow\":3,\"mod\":1020}},{\"start\":{\"dow\":0,\"mod\":900},\"end\":{\"dow\":0,\"mod\":1020}}]",
        "sendType": "msg",
        "sendId": "payload",
       "onPayloadType": "str",
        "onPayload": "ON",
        "offPayloadType": "str",
        "offPayload": "OFF",
        "startupMessage": true,
        "sendOnEnable": true,
        "x": 200,
        "y": 360,
        "wires": [["prepare_lucy_schedule"]]
    },
    {
        "id": "prepare_lucy_schedule",
        "type": "function",
        "z": "e10b4adcc78d883c",
        "name": "Prepare Lucy Schedule Report",
        "func": "const isActive = (msg.payload === 'ON');\nconst timeStr = new Date().toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' });\nconst dayOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][new Date().getDay()];\n\nmsg.payload = {\n    immersion_name: 'lucy',\n    is_active: isActive,\n    schedule_reason: isActive ? \n        `Time schedule: ${dayOfWeek} active period` : \n        `Time schedule: ${dayOfWeek} period ended`,\n    timestamp: new Date().toISOString()\n};\n\nflow.set('lucy_schedule_active', isActive);\nflow.set('lucy_schedule_reason', msg.payload.schedule_reason);\n\nnode.status({\n    fill: isActive ? 'green' : 'grey',\n    shape: 'dot',\n    text: isActive ? `ACTIVE - ${timeStr}` : `INACTIVE - ${timeStr}`\n});\n\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 360,
        "wires": [["report_lucy_schedule"]]
    },
    {
        "id": "report_lucy_schedule",
        "type": "http request",
        "z": "e10b4adcc78d883c",
        "name": "Report to Backend",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/schedule/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],
        "x": 720,
        "y": 360,
        "wires": [["log_lucy_response", "control_lucy_immersion"]]
    },
    {
        "id": "log_lucy_response",
        "type": "function",
        "z": "e10b4adcc78d883c",
        "name": "Log Response",
        "func": "if (msg.payload.status === 'success') {\n    node.log(`✓ Lucy schedule reported: ${msg.payload.message}`);\n} else {\n    node.warn(`✗ Lucy schedule report failed: ${JSON.stringify(msg.payload)}`);\n}\nreturn null;",
        "outputs": 0,
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "control_lucy_immersion",
        "type": "switch",
        "z": "e10b4adcc78d883c",
        "name": "Route Lucy Immersion",
        "property": "lucy_schedule_active",
        "propertyType": "flow",
        "rules": [
            {"t": "true"},
            {"t": "false"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 400,
        "wires": [
            ["turn_on_lucy"],
            ["turn_off_lucy"]
        ]
    },
    {
        "id": "turn_on_lucy",
        "type": "api-call-service",
        "z": "e10b4adcc78d883c",
        "name": "Lucy ON",
        "server": "2f5e82bb.678dde",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_lucy_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 1200,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "turn_off_lucy",
        "type": "api-call-service",
        "z": "e10b4adcc78d883c",
        "name": "Lucy OFF",
        "server": "2f5e82bb.678dde",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_lucy_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1200,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "2f5e82bb.678dde",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]