nodered/flows-hybrid-enhanced.json
[
    {
        "id": "hybrid_tab",
        "type": "tab",
        "label": "Battery Control - Hybrid v3 (Schedule Override)",
        "disabled": false,
        "info": "Enhanced hybrid flow with schedule override support - optimizer respects schedule priority"
    },
    {
        "id": "price_refresh_timer",
        "type": "inject",
        "z": "hybrid_tab",
        "name": "Every 30min",
        "props": [],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [["call_price_refresh"]]
    },
    {
        "id": "call_price_refresh",
        "type": "http request",
        "z": "hybrid_tab",
        "name": "Refresh Prices",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/prices/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 80,
        "wires": [["price_refresh_status"]]
    },
    {
        "id": "price_refresh_status",
        "type": "function",
        "z": "hybrid_tab",
        "name": "Log Status",
        "func": "if (msg.payload.status === 'success') {\n    node.status({\n        fill: 'green',\n        shape: 'dot',\n        text: `${msg.payload.prices_stored} prices | ${msg.payload.coverage_hours}h`\n    });\n    node.log(`Price refresh: ${msg.payload.prices_stored} prices stored`);\n} else {\n    node.status({\n        fill: 'red',\n        shape: 'ring',\n        text: 'Failed'\n    });\n    node.error('Price refresh failed');\n}\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "decision_timer",
        "type": "inject",
        "z": "hybrid_tab",
        "name": "Every 5min",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [["get_recommendation"]]
    },
    {
        "id": "get_recommendation",
        "type": "http request",
        "z": "hybrid_tab",
        "name": "Get Recommendation",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/recommendation/now",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 180,
        "wires": [["process_recommendation"]]
    },
    {
        "id": "process_recommendation",
        "type": "function",
        "z": "hybrid_tab",
        "name": "Process Recommendation (Enhanced)",
        "func": "const rec = msg.payload;\n\nif (!rec || !rec.mode || rec.discharge_current === undefined) {\n    node.error('Invalid recommendation received');\n    node.status({\n        fill: 'red',\n        shape: 'ring',\n        text: 'Invalid data'\n    });\n    return null;\n}\n\n// Store in flow context for dashboard\nflow.set('current_recommendation', rec);\n\n// Enhanced status with schedule override indication\nconst scheduleStatus = rec.schedule_override_active ? '🔒 SCHEDULE' : '⚡ OPTIMIZER';\nconst mainSource = rec.immersion_main_source === 'schedule_override' ? '[S]' : '[O]';\nconst lucySource = rec.immersion_lucy_source === 'schedule_override' ? '[S]' : '[O]';\nconst mainStatus = rec.immersion_main ? `M-ON${mainSource}` : `M-OFF${mainSource}`;\nconst lucyStatus = rec.immersion_lucy ? `L-ON${lucySource}` : `L-OFF${lucySource}`;\n\nnode.status({\n    fill: rec.schedule_override_active ? 'yellow' : \n          (rec.optimization_status === 'optimal' ? 'green' : 'blue'),\n    shape: 'dot',\n    text: `${scheduleStatus} | ${rec.mode} | ${rec.discharge_current}A | ${mainStatus} | ${lucyStatus}`\n});\n\nnode.log(\n    `${scheduleStatus} Recommendation:\\n` +\n    `  Battery: ${rec.mode} at ${rec.discharge_current}A\\n` +\n    `  Main: ${rec.immersion_main} (${rec.immersion_main_source}) - ${rec.immersion_main_reason}\\n` +\n    `  Lucy: ${rec.immersion_lucy} (${rec.immersion_lucy_source}) - ${rec.immersion_lucy_reason}`\n);\n\n// Split into four outputs: discharge current, mode, main immersion, lucy immersion\nreturn [\n    { payload: { value: rec.discharge_current } },\n    { payload: { mode: rec.mode } },\n    { payload: rec.immersion_main, entity_id: 'switch.immersion_switch' },\n    { payload: rec.immersion_lucy, entity_id: 'switch.immersion_lucy_switch' }\n];",
        "outputs": 4,
        "x": 630,
        "y": 180,
        "wires": [
            ["set_discharge_current"],
            ["delay_before_mode"],
            ["control_immersion_main"],
            ["control_immersion_lucy"]
        ]
    },
    {
        "id": "set_discharge_current",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Set Discharge",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["number.foxinverter_max_discharge_current"],
        "labelId": [],
        "data": "{\"value\":payload.value}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "number",
        "service": "set_value",
        "x": 900,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "delay_before_mode",
        "type": "delay",
        "z": "hybrid_tab",
        "name": "2s delay",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 180,
        "wires": [["set_battery_mode"]]
    },
    {
        "id": "set_battery_mode",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Set Mode",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["select.foxinverter_work_mode"],
        "labelId": [],
        "data": "{\"option\":payload.mode}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "select",
        "service": "select_option",
        "x": 1080,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "control_immersion_main",
        "type": "switch",
        "z": "hybrid_tab",
        "name": "Main Route",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "true"},
            {"t": "false"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 220,
        "wires": [
            ["turn_on_main"],
            ["turn_off_main"]
        ]
    },
    {
        "id": "control_immersion_lucy",
        "type": "switch",
        "z": "hybrid_tab",
        "name": "Lucy Route",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "true"},
            {"t": "false"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 280,
        "wires": [
            ["turn_on_lucy"],
            ["turn_off_lucy"]
        ]
    },
    {
        "id": "turn_on_main",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Main ON",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 1080,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "turn_off_main",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Main OFF",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1080,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "turn_on_lucy",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Lucy ON",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_lucy_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 1080,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "turn_off_lucy",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Lucy OFF",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_lucy_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1080,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "dashboard_update_timer",
        "type": "inject",
        "z": "hybrid_tab",
        "name": "Every 30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 130,
        "y": 380,
        "wires": [["get_system_state"]]
    },
    {
        "id": "get_system_state",
        "type": "http request",
        "z": "hybrid_tab",
        "name": "Get System State",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/state/current",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 380,
        "wires": [["format_dashboard"]]
    },
    {
        "id": "format_dashboard",
        "type": "function",
        "z": "hybrid_tab",
        "name": "Format Dashboard (Enhanced)",
        "func": "const state = msg.payload;\nconst rec = flow.get('current_recommendation') || {};\n\n// Enhanced control status with source indicators\nconst controlStatus = rec.schedule_override_active ? \n    '🔒 SCHEDULE OVERRIDE ACTIVE' : \n    '⚡ OPTIMIZER CONTROL';\n\n// Format immersion status with source\nconst mainStatus = rec.immersion_main ? \n    `ON [${rec.immersion_main_source || 'unknown'}]` : \n    `OFF [${rec.immersion_main_source || 'unknown'}]`;\n\nconst lucyStatus = rec.immersion_lucy ? \n    `ON [${rec.immersion_lucy_source || 'unknown'}]` : \n    `OFF [${rec.immersion_lucy_source || 'unknown'}]`;\n\nreturn [\n    { payload: `${rec.mode || 'Unknown'}` },\n    { payload: `${state.battery_soc}% SoC` },\n    { payload: `${state.solar_power_kw.toFixed(1)}kW (${state.solar_forecast_today_kwh.toFixed(1)}kWh today)` },\n    { payload: state.current_price ? `${state.current_price.toFixed(2)}p/kWh` : 'N/A' },\n    { payload: controlStatus },\n    { payload: `Main: ${mainStatus}` },\n    { payload: rec.immersion_main_reason || 'N/A' },\n    { payload: `Lucy: ${lucyStatus}` },\n    { payload: rec.immersion_lucy_reason || 'N/A' },\n    { payload: new Date().toLocaleTimeString() }\n];",
        "outputs": 10,
        "x": 610,
        "y": 380,
        "wires": [
            ["ui_strategy"],
            ["ui_battery"],
            ["ui_solar"],
            ["ui_price"],
            ["ui_control_status"],
            ["ui_main_status"],
            ["ui_main_reason"],
            ["ui_lucy_status"],
            ["ui_lucy_reason"],
            ["ui_last_update"]
        ]
    },
    {
        "id": "ui_strategy",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Current Strategy",
        "label": "Current Strategy",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui_battery",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Battery",
        "label": "Battery",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_solar",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "Solar",
        "label": "Solar",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "ui_price",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Price",
        "label": "Price",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_control_status",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 5,
        "width": 12,
        "height": 2,
        "name": "Control Status",
        "label": "Control Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "ui_main_status",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "Main Immersion",
        "label": "Main Immersion",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_main_reason",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 7,
        "width": 12,
        "height": 1,
        "name": "Main Reason",
        "label": "↳ Reason",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "ui_lucy_status",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "Lucy Immersion",
        "label": "Lucy Immersion",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "ui_lucy_reason",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "Lucy Reason",
        "label": "↳ Reason",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "ui_last_update",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 10,
        "width": 12,
        "height": 1,
        "name": "Last Update",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "ha_server",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Battery Optimization (Enhanced)",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 12
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Battery Control v3",
        "icon": "dashboard",
        "order": 1
    }
]