nodered/flows-hybrid.json
[
    {
        "id": "hybrid_tab",
        "type": "tab",
        "label": "Battery Control - Hybrid v2",
        "disabled": false,
        "info": "Simplified Node-RED flows calling Python optimization service"
    },
    {
        "id": "price_refresh_timer",
        "type": "inject",
        "z": "hybrid_tab",
        "name": "Every 30min",
        "props": [],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            ["call_price_refresh"]
        ]
    },
    {
        "id": "call_price_refresh",
        "type": "http request",
        "z": "hybrid_tab",
        "name": "Refresh Prices",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/prices/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 80,
        "wires": [
            ["price_refresh_status"]
        ]
    },
    {
        "id": "price_refresh_status",
        "type": "function",
        "z": "hybrid_tab",
        "name": "Log Status",
        "func": "if (msg.payload.status === 'success') {\n    node.status({\n        fill: 'green',\n        shape: 'dot',\n        text: `${msg.payload.prices_stored} prices | ${msg.payload.coverage_hours}h`\n    });\n    node.log(`Price refresh: ${msg.payload.prices_stored} prices stored`);\n} else {\n    node.status({\n        fill: 'red',\n        shape: 'ring',\n        text: 'Failed'\n    });\n    node.error('Price refresh failed');\n}\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "decision_timer",
        "type": "inject",
        "z": "hybrid_tab",
        "name": "Every 5min",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [
            ["get_recommendation"]
        ]
    },
    {
        "id": "get_recommendation",
        "type": "http request",
        "z": "hybrid_tab",
        "name": "Get Recommendation",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/recommendation/now",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 180,
        "wires": [
            ["process_recommendation"]
        ]
    },
    {
        "id": "process_recommendation",
        "type": "function",
        "z": "hybrid_tab",
        "name": "Process Recommendation",
        "func": "const rec = msg.payload;\n\nif (!rec || !rec.mode || rec.discharge_current === undefined) {\n    node.error('Invalid recommendation received');\n    node.status({\n        fill: 'red',\n        shape: 'ring',\n        text: 'Invalid data'\n    });\n    return null;\n}\n\n// Store in flow context for dashboard\nflow.set('current_recommendation', rec);\n\nconst immStatus = rec.immersion_main ? 'IMM-ON' : 'IMM-OFF';\n\nnode.status({\n    fill: rec.optimization_status === 'optimal' ? 'green' : 'yellow',\n    shape: 'dot',\n    text: `${rec.mode} | ${rec.discharge_current}A | ${immStatus}`\n});\n\nnode.log(`Recommendation: ${rec.mode} at ${rec.discharge_current}A, Immersion: ${immStatus} - ${rec.reason}`);\n\n// Split into four outputs: discharge current, mode, immersion switches\nreturn [\n    { payload: { value: rec.discharge_current } },                    // Output 1: Discharge current\n    { payload: { mode: rec.mode } },                                  // Output 2: Mode\n    { payload: rec.immersion_main, entity_id: 'switch.immersion_switch' },     // Output 3: Main immersion\n    { payload: rec.immersion_lucy, entity_id: 'switch.immersion_lucy_switch' } // Output 4: Lucy immersion\n];",
        "outputs": 4,
        "x": 600,
        "y": 180,
        "wires": [
            ["set_discharge_current"],
            ["delay_before_mode"],
            ["control_immersion_main"],
            ["control_immersion_lucy"]
        ]
    },
    {
        "id": "set_discharge_current",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Set Discharge",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["number.foxinverter_max_discharge_current"],
        "labelId": [],
        "data": "{\"value\":payload.value}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "number",
        "service": "set_value",
        "x": 860,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "delay_before_mode",
        "type": "delay",
        "z": "hybrid_tab",
        "name": "2s delay",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 200,
        "wires": [
            ["set_battery_mode"]
        ]
    },
    {
        "id": "set_battery_mode",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Set Mode",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["select.foxinverter_work_mode"],
        "labelId": [],
        "data": "{\"option\":payload.mode}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "select",
        "service": "select_option",
        "x": 1040,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "control_immersion_main",
        "type": "switch",
        "z": "hybrid_tab",
        "name": "Main Immersion Route",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "true"},
            {"t": "false"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 240,
        "wires": [
            ["turn_on_main_immersion"],
            ["turn_off_main_immersion"]
        ]
    },
    {
        "id": "control_immersion_lucy",
        "type": "switch",
        "z": "hybrid_tab",
        "name": "Lucy Immersion Route",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "true"},
            {"t": "false"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 280,
        "wires": [
            ["turn_on_lucy_immersion"],
            ["turn_off_lucy_immersion"]
        ]
    },
    {
        "id": "turn_on_main_immersion",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Main ON",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 1100,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "turn_off_main_immersion",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Main OFF",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 1100,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "turn_on_lucy_immersion",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Lucy ON",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_lucy_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 1100,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "turn_off_lucy_immersion",
        "type": "api-call-service",
        "z": "hybrid_tab",
        "name": "Lucy OFF",
        "server": "ha_server",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.immersion_lucy_switch"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 1100,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "dashboard_update_timer",
        "type": "inject",
        "z": "hybrid_tab",
        "name": "Every 30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 130,
        "y": 300,
        "wires": [
            ["get_system_state"]
        ]
    },
    {
        "id": "get_system_state",
        "type": "http request",
        "z": "hybrid_tab",
        "name": "Get System State",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.60:8000/api/v1/state/current",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 300,
        "wires": [
            ["format_dashboard"]
        ]
    },
    {
        "id": "format_dashboard",
        "type": "function",
        "z": "hybrid_tab",
        "name": "Format Dashboard",
        "func": "const state = msg.payload;\nconst rec = flow.get('current_recommendation') || {};\n\n// Format outputs for dashboard widgets\nreturn [\n    { payload: `${rec.mode || 'Unknown'}` },                                          // Strategy\n    { payload: `${state.battery_soc}% SoC` },                                        // Battery\n    { payload: `${state.solar_power_kw.toFixed(1)}kW (${state.solar_forecast_today_kwh.toFixed(1)}kWh today)` },  // Solar\n    { payload: state.current_price ? `${state.current_price.toFixed(2)}p/kWh` : 'N/A' },  // Price\n    { payload: rec.reason || 'Waiting for recommendation...' },                      // Reason\n    { payload: new Date().toLocaleTimeString() }                                     // Last Update\n];",
        "outputs": 6,
        "x": 580,
        "y": 300,
        "wires": [
            ["ui_strategy"],
            ["ui_battery"],
            ["ui_solar"],
            ["ui_price"],
            ["ui_reason"],
            ["ui_last_update"]
        ]
    },
    {
        "id": "ui_strategy",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Current Strategy",
        "label": "Current Strategy",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_battery",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Battery",
        "label": "Battery",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_solar",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "Solar",
        "label": "Solar",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "ui_price",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Price",
        "label": "Price",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui_reason",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 5,
        "width": 12,
        "height": 2,
        "name": "Reason",
        "label": "Decision Reason",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_last_update",
        "type": "ui_text",
        "z": "hybrid_tab",
        "group": "dashboard_group",
        "order": 6,
        "width": 12,
        "height": 1,
        "name": "Last Update",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "ha_server",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ",",
        "statusTimeFormat": "h:m:s",
        "enableGlobalContextStore": true
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Battery Optimization",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Battery Control v2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]